body {
    font-family: Arial;
    background-color: #fff0f5;
    text-align: center;
    padding: 30px;
}

form {
    background: white;
    padding: 20px;
    width: 300px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

input, select {
    width: 90%;
    padding: 8px;
}

button {
    background-color: #ff69b4;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #ff1493;
}
